<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Khaadi.css" />
    <title><%= title %></title>
    <link rel="icon" type="images/x-icon" href="/images/khaadi.ico" />
  </head>
  <body>
    <header>
      <!-- Header content -->
      <div class="header-promotion">
        <div class="header-banner">
          <p>
            Shop up to 50% OFF on your favourite summer styles from our End of
            Season Sale
            <a href="sale.html"
              ><strong style="color: black"><u>now</u></strong></a
            >
          </p>
        </div>
        <div class="track-order-section">
          <a href="#" class="track-order">Track</a>
        </div>
      </div>

      <div class="navbar">
        <div class="navbar-header-brand">
          <a href="#" class="home-logo" title="khaadi Home"
            ><img src="\images/logocopy.png" alt="Khaadi"
          /></a>
        </div>
        <div class="menu-div">
          <li class="menu-items">
            <a href="#" style="color: #fd6500" class="menu-names">SALE</a>
            <a href="#" class="menu-names">NEW IN</a>
            <a href="#" class="menu-names" style="font-weight: bold">
              #INSTAKHAADI</a
            >
            <a href="#" class="menu-names">FABRICS</a>
            <a href="#" class="menu-names">READY TO WEAR</a>
            <a href="#" class="menu-names">FRAGRANCES</a>
            <a href="#" class="menu-names">HOME</a>
          </li>
        </div>
        <div class="icons-side-bar"> 
         <li class="icons-side-bar">
          <a href="#" class="icon"
            ><img src="\images/magnifying-glass-solid.svg" alt=""
          /></a>
          <a href="#" class="icon"
            ><img src="\images/heart-regular.svg" alt=""
          /></a>
          <a href="#" class="icon"
            ><img src="\images/user-regular.svg" alt=""
          /></a>
          <a href="#" class="icon"
            ><img src="\images/bag-shopping-solid.svg" alt=""
          /></a>
        </li> 
        </div>
      </div>
    </header>
  
    <main>
      <%- body %>
    </main>
  
    <footer>
      <!-- Footer content -->
      <div class="Banners">
        <div class="banner-container">
          <!-- <img class="banner-section" id="slide1" src="\images/Khaadi-sale.webp" alt="Khaadi Sale">
          <img class="banner-section" id="slide2" src="\images/winter-collection.webp" alt="Winter Collection">
          <img class="banner-section" id="slide3" src="\images/winter-hues.webp" alt="Winter Hues"> -->
            <div class="banner-section">
            <div class="footer">
              <div class="services">
                <li class="serv-type"><img class="serv-icon" src="\images/truck.png" alt=""><a href="#"><b>SHIPPING CHARGES</b><br> &nbsp Starting from Rs.120</a></li>
                <li class="serv-type"><img class="serv-icon" src="\images/heart.png" alt=""><B>CRAFTED WITH CARE</B><br>&nbsp Curated with you in mind.</li>
                <li class="serv-type"><img class="serv-icon" src="\images/location.png" alt=""><b>FIND STORES</b><br>&nbsp Storescountrywide across Pakistan, UK, UAE, US.</li>
              </div>
              
              <div class="help-info-section">
              <li>NEED HELP?</li>
              <li ><img class="help-icon" src="\images/telephone.png" alt="">0800 74007</li>
              <li><img class="help-icon" src="\images/mail.png" alt="">EMAIL US</li>
              </div>
            
              <div class="social-info">
                 <div class="help">
                  <li style="margin-bottom: 14px;"><b>HELP</b></li>
                  <li>Track Your Order</li>
                  <li>Terms & Conditions</li>
                  <li>Privacy Policy</li>
                 </div> 
                 <div class="customer-support">
                  <li style="margin-bottom: 14px;"><b>CUSTOMER SUPPORT</b></li>
                  <li>Customer Service</li>
                  <li>Store Locator</li>
                  <li>Disclaimer</li>
                  <li>Delivery</li>
                  <li>Exchange</li>
                  <li>FAQs</li>
                 </div>   
                 <div class="morefromkhaadi">
                  <li style="margin-bottom: 14px;"><b>MORE FROM KHAADI</b></li>
                  <li>About Us</li>
                  <li>Blogs</li>
                 </div>
                <div class="our-socials">
                  <li style="margin-bottom: 14px;"><b>OUR SOCIALS</b></li>
                  <li><img class="social-images" src="\images/tiktok.png" alt=""><img class="social-images" src="\images/youtube.png" alt=""><img href="#" class="social-images" src="\images/facebook (1).png" alt=""><img href="#" class="social-images" src="\images/instagram (1).png" alt="">
                  <li>GET THE LATEST NEWS</li>
                  <input type="text" placeholder="Email Address">
                  <button style="background-color: black; color: white; border-radius: 9.5rem;">CONFIRM</button>
                </div>
              </div>
           
              <div class="copyright">
                <div class="visa">
                  <li style="color: rgb(120, 115, 115); margin-bottom: 10px;">100% Safe Checkout</li>
                  <li><img style="height: 38px;" src="\images/visa image.svg" alt=""></li>
                </div>
                <div class="security">
                  <li style="color: rgb(120, 115, 115); margin-bottom: 8px;">Secured by</li>
                  <li><img src="\images/secure image.gif" alt=""></li>
                </div>
                <div class="khaadi-logo-again">
                  <img style="height: 28px;" src="\images\logocopy.png" alt="">
                </div>
                <div class="copyright-reserved">
                  <p style="color: rgb(120, 115, 115);">Copyright © 2024 Weaves Corporation Limited (Formerly Khaadi Corporation Limited). All Rights Reserved.</p>
                </div>
              </div>
            </div>
            </div>
            
        </div>
      </div>
    </footer>
  </body>
  
</html>

