<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css\Khaadi.css" />
        <link rel="stylesheet" href="css\khaadi-B.css">
        <title>Khaadi</title>
        <link rel="icon" type="images/x-icon" href="images\khaadi.ico" />
</head>
<body>
        <%- include('./partials/header') %>
        <%-body  %>
        <%- include('./partials/footer') %>
</body>
   
    <script src="/js/khaadi.js"></script>
</html>